* {
  box-sizing: border-box;
  margin: 0;
}

#root {
  width: 100vw;
  background-image: url("photos/woodplanks.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100%;
}

body {
  display: flex;
  height: 100vh;
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 20%;
}

main {
  display: flex;
  height: 75%;
  flex-flow: row wrap;
  justify-content: center;
}

#name-container {
  display: flex;
  width: 30%;
  align-items: flex-end;
}
#name-container h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./photos/parchment.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50%;
  width: 100%;
  border-radius: 10px;
  margin: 15px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.433);
  font-family: "MedievalSharp", cursive;
  font-size: 42px;
}

.post-section {
  display: flex;
  height: 50%;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.post-section .post-container {
  background-image: url("./photos/parchment.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  height: 200px;
  width: 200px;
  justify-content: center;
  text-align: center;
  z-index: 1;
  overflow: hidden;
  transition: width 2s, height 2s;
}
.post-section .post-container:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.expanded-post-section {
  height: 80%;
  width: 90%;
  z-index: 2;
  position: absolute;
  padding: 15px;
}
.expanded-post-section .expanded-post-container {
  background-image: url("./photos/parchment.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  justify-content: center;
  text-align: center;
  z-index: 1;
  overflow: hidden;
  transition: width 2s, height 2s;
  height: 100%;
  width: 100%;
}

.post-title {
  text-decoration: underline;
  margin: 10px;
  font-family: "MedievalSharp", cursive;
  font-size: 36px;
  height: 20%;
}

.scribble-post-information {
  font-family: "Herr Von Muellerhoff", cursive;
  font-size: 6px;
}

.post-information {
  font-size: 28px;
  margin: 20px;
  padding: 20px;
  font-family: "MedievalSharp";
}

.rotate-left {
  transform: rotate(-10deg);
}

.rotate-right {
  transform: rotate(10deg);
}

.carousel-container {
  display: flex;
  width: 100%;
  height: 80%;
}

.arrow {
  width: 10%;
  font-size: 26px;
  align-self: center;
  margin: 5px;
}
.arrow:hover {
  cursor: pointer;
}

.project-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  width: 80%;
  margin: 10px;
  padding: 30px;
}
.project-container a {
  display: flex;
  flex-flow: column wrap;
  font-size: 22px;
}

.post-header {
  display: flex;
  justify-content: center;
}

#exit-icon {
  margin: 10px;
  font-size: 28px;
  position: absolute;
  right: 30px;
  width: 50px;
}
#exit-icon:hover {
  cursor: pointer;
}

#senders-email {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#senders-email input {
  background-color: #81631882;
  border: 0;
  border-radius: 5px;
  height: 40px;
  margin: 5px;
}

#message {
  height: 200px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#message textarea {
  height: 90%;
  width: 50%;
  border: 0;
  margin: 5px;
  border-radius: 5px;
  background-color: #81631882;
  resize: none;
}

.button {
  font-size: 20px;
  border-radius: 10px;
  background-color: #e3c068ad;
}
.button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#contact-links {
  display: flex;
  justify-content: center;
  margin: 50px;
  font-size: 26px;
}
#contact-links a {
  padding: 10px;
}

/*# sourceMappingURL=App.css.map */
